<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDB5Zn-bHosxqxkCsB_qPpYNZ_txuNBQSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>571158606725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLocationSharing.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-location-sharing-16614</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-location-sharing-16614.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571158606725:ios:aba5f01fe069f0431a0aec</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-location-sharing-16614-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>